
@{
    ViewBag.Title = "Кинотеатр";
}

@section styles {
    @Styles.Render("~/Content/themes/base/minified/jquery-ui.min.css")
    @Styles.Render("~/Content/themes/base/minified/jquery.ui.theme.min.css")
    @Styles.Render("~/Content/jquery.jqGrid/ui.jqgrid.css")
    @Styles.Render("~/Content/Views/Home/index.css")
}

<div class="row">
    <h1>Фильмы</h1>
    <hr />
</div>

<div class="row">
    <div class="col-md-12" id="gridOwner">
        <table id="moviesTable"></table>
        <div id="moviesTablePager"></div>
    </div>
</div>

<div id="errorDialog" title="Ошибка">
    <p id="errorDialogMessage"></p>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/jquery-ui-1.10.0.min.js")
    @Scripts.Render("~/Scripts/i18n/grid.locale-ru.js")
    @Scripts.Render("~/Scripts/jquery.jqGrid.min.js")
    @Scripts.Render("~/Scripts/Views/Home/index.js");
}